# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# ChromaDB
vector_store/

# Streamlit Cache
.streamlit/

# IDE
.vscode/
.idea/# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# ChromaDB
vector_store/

# Streamlit Cache
.streamlit/

# IDE
.vscode/
.idea/